/* style.css */

body{
  background-color:#0f609c;
  border-left:25px solid #b2daf8;
  border-right:25px solid #b2daf8;
  border-top: 15px solid #083454;
  border-bottom: 15px solid #083454;
  padding: 10px;
  margin: 0px;
}
h1{
  text-align:center;
  font-family: Verdana, Geneva, sans-serif;
}
h2{
  text-align:center;
  border-top:2px solid white;
  padding-top: 15px;
  margin-bottom: 1px;
  color: #142269;
  font-family: Verdana, Geneva, sans-serif;
}
h3{
  /* style for review stars */
  text-align:center;
  margin: 1px;
  color:white
}
p{
  margin-top: 1px;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
