/* style.css */

body{
  background-color:#918b8a;
  border-left:25px solid #d1625a;
  border-right:25px solid #d1625a;
  border-top: 15px solid #ae5049;
  padding: 10px;
  margin: 0px;
}
h2{
  border-top:2px solid black;
  padding-top: 15px;
  margin-bottom: 1px;
}
h3{
  /* style for review stars */
  margin: 1px;
}
p{
  margin-top: 1px;
}
